body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
}

.mail-container {

}

.mail-wrapper {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-title {

}

.mail-title h3 {
    color: #555555;
}

.mail-search {

}

.mail-search form input {
    height: 30px;
    width: 300px;
    border: 2px solid #00e1ff;
    border-radius: 10px;
    
}

.mail-search form input:focus {
    outline: 0;
    box-shadow: 0 0 2px 3px #93ffff;
}

.icon-tabler-pencil {
    padding: 2px;
    height: 30px;
    width: 30px;
    border: 2px solid #00e1ff;
    border-radius: 10px;
    color: #00e1ff;
}

.icon-tabler-pencil:hover {
    background-color: #00e1ff;
    color: white;
}

.mail-body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 50px;
}

.mail-category{
    
}

.mail-category ul {
    list-style: none;
    padding: 0;
    
}

.mail-category ul a {
    text-decoration: none;
}

.mail-category ul a li {
    margin: 10px 0 ;
    padding: 10px ;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    color: #555555;
    background-color: #f3f3f3
}

.mail-category ul a li:hover {
    background-color: #bbfdff;
}

.mail-box{
    display: flex;
    flex-direction: column;

}

.mail-tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-tool p {
    font-weight: 600;
}

.table-head {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr .8fr;
    margin-left: 25px;
}

.table-data {
    height: 60vh;
    overflow-y: scroll;
}

.row-data {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    gap: 20px;
    margin: 5px 0;
    background-color: #f3f3f3;
    padding: 0 20px;
    border-radius: 10px;
}

.row-data:hover{
    background-color: #bbfdff;
}

.row-data a {
    text-decoration: none;
    color: #555555;
}

.row-data a:nth-child(1){
    
}
.row-data a:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 25px;
    width: 70px;
    border-radius: 5px;
    color: red;
    cursor: pointer;
    margin-left: 40px;
}

.row-data a:nth-child(2):hover {
    background-color: red;
    color: white;
}

.table-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-thumb {
    background: #91f2ff; 
    border-radius: 10px;
  }

.mail-view {
    font-size: 0.9rem;
    background-color: #f3f3f3;
    padding: 30px;
    height: 450px;
    border-radius: 10px;
    color: #555555;
}

.icon-left-arrow {
    margin-top: -10px;
    cursor: pointer;
    fill: #555555;
}

.sender-name {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    gap: 10px;
}

.sender-name h3, .sender-name h5 {
    margin: 10px 0;
}

.sender-name input {
    height: 30px;
    width: 90px;
    border: 2px solid #00e1ff;
    border-radius: 5px;

}

.sender-name input:hover {
    background-color: #00e1ff;
    color: white;
}

/* .sender-name input:focus {
    background-color: #00e1ff;
    color: white;
} */


.mail-subject h4 {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

.sender-message p {
    height: 280px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.sender-message h4 {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.compose-wrapper {
    background-color: #f3f3f3;
    padding: 30px;
    border-radius: 10px;
    height: 400px;
}



.compose-form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.compose-form input {
    height: 30px;
    width: 400px;
    border-radius: 10px;
    outline: 0;
    border: 2px solid #00e1ff;
}

.compose-form input:focus {
    outline: 0;
    box-shadow: 0 0 2px 3px #93ffff;
    
}

.compose-form input[type="submit"] {
    height: 30px;
    width: 200px;
    background-color: white;

}

.compose-form input[type="submit"]:hover {
    background-color: #00e1ff;
    color: white;
}
.compose-form input[type="submit"]:focus {
    background-color: #00e1ff;
    color: white;
}

.compose-form input:nth-child(3){
    height: 200px;

}